name: Publish Charts

on:
  push:
    tags:
      - 'chart-v*'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.6.3

      - name: Check chart version
        run: |
          tag_version=${GITHUB_REF##*/chart-v}
          chart_version=$(cat charts/mysql-operator/Chart.yaml | grep 'version:' | sed 's/version:\s//')
          if [ "$tag_version" != "$chart_version" ]; then
            echo "Different versions: tag \"$tag_version\", chart \"$chart_version\""
            exit 1
          fi
      - name: Packaging the chart
        run: helm package ./charts/mysql-operator/

      - uses: actions/upload-artifact@v2
        with:
          name: mysql-operator-chart
          path: ./mysql-operator-*.tgz
          retention-days: 1

  publish:
    name: Publish charts on GitHub Pages
    runs-on: ubuntu-20.04
    needs: build
    steps:
      - uses: actions/checkout@v2
        with:
          ref: helm-charts

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.6.3

      - uses: actions/download-artifact@v2
        with:
          name: mysql-operator-chart

      - name: Update charts index
        run: helm repo index --url https://runkecheng.github.io/helm-charts/ --merge index.yaml .

      - run: git add .

      - name: Check diffs
        run: |
          diffs=$(git status -s)
          if [ "$diffs" = "" ]; then
            echo "NO_DIFF=1" >> $GITHUB_ENV
          else
            printf "%s\n" "$diffs"
          fi
      - name: Commit and push
        if: env.NO_DIFF != '1'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: update chart repo

      - uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GIT_TOKEN }}
          branch: helm-charts